.button{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.25);
    background-color: blueviolet;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
